*{@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');}


.navtitle{
   font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
}


.resum-downlod{
   width: 228px;
   height: 58px;
   background-color: aqua;
   box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   border-radius: 8px;
   opacity: 0.8;
   font-family: Azeret Mono;
   font-size: 20px;
   font-weight: 600;
}
.nave{
   display: flex;
   justify-content: space-between;
   margin: 30px 200px;
   
}
.derectin{
   list-style: none;
}
.background-image{
   background-image: url('../assets/Hero-bg.png');
   height: 700px;
}
.heder-img{
   display: flex;
   justify-content: center;
   margin: 0 auto;
 
}

.heder-text{
   text-align: center;
margin-left: 0 auto;


}
.taitel{
   color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
}

.lorem-title{
   color: rgb(13, 19, 33);
font-family: Azeret Mono;
margin-left: 0 auto;
font-size: 16px;
font-weight: 400;


}
.phone-batton{
   border-radius: 5px;
background: rgb(13, 19, 33);
   color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 800;
width: 208px;
height: 66px;
margin-top: 40px;
cursor: pointer;
}
/* main section style */

.box-heder{
   display: flex;
   background-color: aliceblue;
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 12px;
   margin-top:12px ;
   justify-content: space-between;
   background-color: white;
   
   
}
.box-conteiner{
  background-color: rgb(217, 236, 228);
  width: 950px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}
.title-section{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
  
}
.more-contect{
   width: 130px;
   height: 40px;
   margin-top: 30px;
   background-color: white;
  

}
.card{
   margin-left: 30px;
}
/* thadr box */
.pargerp{
   text-align: center;
   margin-top: 50px;
}
.youtube-vdio{
 margin-left: 0 auto;
 margin-left: auto;
 text-align: center;

 

}

.youtube-vdio iframe{
   border: 30px solid rgb(227, 240, 227);
   border-radius: 17px;
}

.card-container{
   display: flex;
   width: 950px;
  margin-left: auto;
  margin-right: auto;
 
}


.card-box{
   background: rgba(255, 76, 30, 0.05);
   margin-left: 30px;
   border-radius: 7px;
   padding: 30px;
   width: 300px;
}
.card-boxtu{
   background: rgba(0, 76, 232, 0.05);
   margin-left: 30px;
   border-radius: 7px;
   padding: 30px;
   width: 300px;
}
.card-boxthri{
   background: rgba(255, 223, 0, 0.05);
   margin-left: 30px;
   border-radius: 7px;
   padding: 30px;
   width: 300px;
}





/* footer section  */
.footer{
   height: 300px;
   width: 950px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
   margin-top: 20px;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("../assets/handshake.jpg");
  
  

}
.footer h1{
   text-align: center;
   color: white;
}
.footer p{
   color: white;
   text-align: center;

}

.input-filds{
   text-align: center;
   margin-top: 10px;
}

.input-filds input[type="text"]{
   width: 300px;
   height: 40px;
   border: none;
   border-radius: 4px;
}
.input-filds input[type="submit"]{
   width: 130px;
   height: 40px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

/* contact form */
.contact{
   margin-top: 30px;
   background-color: rgba(13, 19, 33, 0.03);
   display: flex;
   align-items: center;
   justify-content: space-between;
 
   
   }
  .contact >  ul{
       display: flex;
       align-items: center;  
   }
  .contact > ul li{
       list-style: none;
       margin-right:30px ;
       
   }